form(method="POST" action="/api/books/:id?_method=DELETE")
    h3 Delete a Book by ID
    input(type="text" name="book_id" placeholder="Enter Book ID")
    button(type="submit" class="button-primary") Delete Book