doctype html
html
    include ./components/head.pug
    body
        div.container
            
            include ./components/header.pug

            h1 Personal Library API

            include ./components/newBookForm.pug

            include ./components/newCommentForm.pug

            include ./components/deleteBookForm.pug

            include ./components/deleteAllBooksForm.pug

            include ./components/footer.pug