<!DOCTYPE html>
html(lang="en")
    include ./components/head.pug
    body
        .container
            include ./components/header.pug 
            h2 Personal Library

            .newBook
                include ./components/newBookForm.pug

            section
                .books
                    include ./components/bookList.pug

                .book_mod