form(action="/api/books/:id", method="post")
    h3 Post new Comment
    input(type="text" name="id" placeholder="BookID")
    br
    input(type="text" name="comment" placeholder="Enter Comment")
    br
    button(type="submit" class="button-primary") Comment